In [7]:
import pandas as pd

### lendo arquivo csv

In [8]:
df = pd.read_csv('../dados_escola.csv')
df

   ID_Aluno     Nome  Idade  Ano_Serie  Nota
0         2    Lucas      3          1     9
1         3    Maria      4          2     8
2         4    Pedro      5          2     7
3         5  Beatriz      6          3     9
4         6   Rafael      7          3     6
5         7    Sofia      8          4    10
6         8   Thiago      9          4     8
7         9   Camila     10          5     7
8        10  Matheus     11          5     9

In [9]:
media_por_serie = df.groupby("Ano_Serie")["Nota"].mean()
display(media_por_serie)

Ano_Serie
1    9.0
2    7.5
3    7.5
4    9.0
5    8.0
Name: Nota, dtype: float64

In [10]:
#Alunos com a nota acima de 6
aprovados = df[df["Nota"] > 6]
display(aprovados)

   ID_Aluno     Nome  Idade  Ano_Serie  Nota
0         2    Lucas      3          1     9
1         3    Maria      4          2     8
2         4    Pedro      5          2     7
3         5  Beatriz      6          3     9
5         7    Sofia      8          4    10
6         8   Thiago      9          4     8
7         9   Camila     10          5     7
8        10  Matheus     11          5     9